
@{
    ViewBag.Title = "Registration";
}
<style>
    td {
        border-width:0px;
        text-align:center;
    }
</style>

    <form method="post">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td>Регистрация</td>
                </tr>
                <tr>
                    <td>Имя</td>
                </tr>
                <tr>
                    <td><input name="name" required></td>
                </tr>
                <tr>
                    <td>Фамилия</td>
                </tr>
                <tr>
                    <td><input name="surname" required></td>
                </tr>
                <tr>
                    <td>Адрес</td>
                </tr>
                <tr>
                    <td><input name="address" required></td>
                </tr>
                <tr>
                    <td>EMail</td>
                </tr>
                <tr>
                    <td><input name="email" type="email" required></td>
                </tr>
                <tr>
                    <td>Логин</td>
                </tr>
                <tr>
                    <td><input name="login" required></td>
                </tr>
                <tr>
                    <td>Пароль</td>
                </tr>
                <tr>
                    <td><input name="password" type="password" required></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td><button>Регистрация</button></td>
                </tr>
            </tbody>
        </table>
    </form>

