<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="../../Content/Style.css" />
</head>
<body>
    @{Html.RenderPartial("fixed_menu");}
    <div style="margin-top: 55px;">
        @RenderBody()
    </div>
</body>
</html>
